---
layout: default
id: email-signature
nav: true
nav-order: 1
title: Email Signature
---

<div class="container container--100 container--no-padding">
  <!-- Output -->
  <div class="boxpad--xxl bg--white">
    <div id="signature">
      {% include signature-output.html %}
    </div>
  </div>
</div>


<!-- Form -->
<div class="form boxpad--xxl text">

  <h1 class="title title--lg">Email signature builder</h1>
  <hr class="hr--left">
  <div>
    <p class="text text--xxl">Enter your details below to create your own Secret Escapes email signature</p>
  </div>

  <div class="form__input vpad--xxxs">
    <label for="input-country">Select your country: </label>
    <select id="input-country" name="country">
      <option value="uk">United Kingdom</option>
      <option value="de">Germany</option>
      <option value="it">Italy</option>
      <option value="fr">France</option>
      <option value="es">Spain</option>
      <option value="nl">Netherlands</option>
      <option value="be">Belgium</option>
      <option value="ch">Switzerland</option>
      <option value="no">Norway</option>
      <option value="dk">Denmark</option>
      <option value="se">Sweden</option>
      <option value="hk">Hong Kong</option>
      <option value="sg">Singapore</option>
      <option value="id">Indonesia</option>
      <option value="my">Malaysia</option>
      <option value="us">United States</option>
    </select>
  </div>

  <div class="form__input vpad--xxxs">
    <label for="input-name">Name: </label><input type="text" id="input-name">
  </div>

  <div class="form__input vpad--xxxs">
    <label for="input-position">Position: </label><input type="text" id="input-position">
  </div>

  <div class="form__input vpad--xxxs">
    <label for="input-phone">Phone: </label><input type="text" id="input-phone">
    <div>
      <input type="checkbox" name="display-phone" checked> Show phone number
    </div>
  </div>

  <div class="form__input vpad--xxxs">
    <label for="input-email">Email: </label><input type="text" id="input-email">
    <div>
      <input type="checkbox" name="display-email" checked> Show email address
    </div>
  </div>
  <div class="form__input vpad--xxxs" id="share-url" style="display: none;">
    <textarea rows="1" id="input-share-url"></textarea>
  </div>

  <div class="vpad--xxxs">

    <input id="btn" onclick="copyToClipboard('signature')" type="button" value="Copy signature"></input>
    <input id="btn" onclick="shareURL()" type="button" value="Generate signature sharing URL"></input>

    <div class="vpad--xxxs">
      <div id="message__signature" class="message space--xxs" style="display: none;">The signature has been copied to your clipboard.</div>
      <div id="message__url" class="message space--xxs" style="display: none;">The sharing URL for this signature has been copied to your clipboard.</div>
    </div>
  </div>

</div>



<!-- Hidden country data for clone function -->
<div class="hidden">
  {% include signature/logo.html %}
  {% include signature/social.html %}
  {% include signature/web.html %}
  {% include signature/address.html %}
  {% include signature/legal.html %}
</div>



<script type="text/javascript">

  // COPY GENERATED SIGNATURE
  function copyToClipboard(element) {

  	var doc = document;
  	var text = doc.getElementById(element);
  	var range;
    var selection;

  	if (doc.body.createTextRange){
  		range = doc.body.createTextRange();
  		range.moveToElementText(text);
  		range.select();
  	}else if(window.getSelection){
  		selection = window.getSelection();
  		range = doc.createRange();
  		range.selectNodeContents(text);
  		selection.removeAllRanges();
  		selection.addRange(range);
   	}

  	document.execCommand('copy');
  	window.getSelection().removeAllRanges();

  	$("#message__" + element).fadeIn();
    setTimeout(function() {
    	$("#message__" + element).fadeOut();
    }, 3000);
  }

  // SHARE GENERATED URL WITH PREFILLED DATA
  function shareURL(){

    var baseURL = window.location.href.split('?')[0];
    var country = '?country=uk',
        name = '',
        position = '',
        phone = '',
        email = '';

    if( $('#input-country').val() ){
      var country = "?country=" + $('#input-country').val();
    }
    if( $('#input-name').val() ){
      var name = "&name=" + $('#input-name').val();
    }
    if( $('#input-position').val() ){
      var position = "&position=" + $('#input-position').val();
    }
    if( !$('input[name=display-phone]').is(':checked') ){
      var phone = "&phone=false";
    }else if( $('#input-phone').val() ){
      var phone = "&phone=" + $('#input-phone').val();
    }
    if( !$('input[name=display-email]').is(':checked') ){
      var email = "&email=false";
    }else if( $('#input-email').val() ){
      var email = "&email=" + $('#input-email').val();
    }

    var url = baseURL + country + name + position + phone + email;
    console.log( url );
    $('#share-url').fadeIn();
    $('#input-share-url').val( url );
    $('#input-share-url').select();
  	document.execCommand('copy');

  	$("#message__url").fadeIn();
    setTimeout(function() {
    	$("#message__url").fadeOut();
    }, 3000);
  }

</script>
