

<div style="font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; color: #1a1a1a; font-size: 13px; font-weight: 500;">
  <b><span id="name">Full Name</span></b><br />
</div>

<div style="font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; color: #555555; font-size: 12px;">
  <span id="position">Job title</span><br />
</div>

<div style="font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; color: #555555; font-size: 12px;">
  <br />
  <div id="logo" style="color: #555555; font-size: 13px;">
    <a id="logo_href" href="https://www.secretescapes.com" style="color:#555555;text-decoration:none;">
      <img id="logo_img" width="200" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/secretescapes.png" alt="Secret Escapes">
    </a>
  </div>
  <div id="social" style="color: #555555; font-size: 13px;">
    <span id="social__facebook">
      <a id="facebook" href="https://www.facebook.com/SecretEscapes/" style="color:#555555;text-decoration:none;"><img alt="Facebook" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/facebook.png"></a>
      &nbsp;
    </span>
    <span id="social__instagram">
      <a id="instagram" href="https://www.instagram.com/secretescapes/" style="color:#555555;text-decoration:none;"><img alt="Instagram" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/instagram.png"></a>
      &nbsp;
    </span>
    <span id="social__twitter">
      <a id="twitter" href="https://twitter.com/secret_escapes" style="color:#555555;text-decoration:none;"><img alt="Twitter" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/twitter.png"></a>
      &nbsp;
    </span>
    <span id="social__linkedin">
      <a id="linkedin" href="https://www.linkedin.com/company/secret-escapes/" style="color:#555555;text-decoration:none;"><img alt="LinkedIn" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/linkedin.png"></a>
      &nbsp;
    </span>
    <span id="social__youtube">
      <a id="youtube" href="https://www.youtube.com/user/SecretEscapesUK/videos" style="color:#555555;text-decoration:none;"><img alt="YouTube" src="https://d1x3cbuht6sy0f.cloudfront.net/media/_admin/email/youtube.png"></a>
    </span>
  </div>
</div>

<div style="font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; color: #555555; font-size: 12px;">
  <br />

  <div id="phone-row">
    Ph: &nbsp;&nbsp;
    <a id="phone_href" style="color:#555555;text-decoration:none;" href="tel:02000000000"><span id="phone">+44 020 0000 0000</span></a>
  </div>

  <div id="email-row">
    Mail: &nbsp;&nbsp;
    <a id="email_href" style="color:#555555;text-decoration:none;" href="mailto:email.address@secretescapes.com"><span id="email">email.address@secretescapes.com</span></a>
  </div>

  <div id="web-row">
    Web:&nbsp;&nbsp;
    <a id="web_href" style="color:#555555;text-decoration:none;" href="https://www.secretescapes.com"><span id="web">https://www.secretescapes.com</span></a>
  </div>

  <div>
    &nbsp;
  </div>

  <div id="address-row" style="color: #555555;font-size:12px;">
    Floor 4, 120 Holborn, London, EC1N 2TD
  </div>

</div>