// general styles for the project that wouldn't be a reuseable component

.form {
  position: absolute;
  max-width: 600px;
  width: 40%;
  height: 100%;
  background-color: $grey-darkest;
  color: $white;
  right: 0;
  top: 0;
  overflow: scroll;

  &__input {
    & label { padding-bottom: 0.1em; display: block; font-weight: 600; }
    & input[type="text"] {
      padding: 0.4em 0.75em;
      border-radius: 3px;
      font-size: 1rem;
      font-family: $font-core;
      border: 0;
      width: 100%;
    }
  }
}

select {
  padding: 0.4em 0.75em;
  height: 30px;
  border-radius: 3px;
  font-size: 1rem;
  font-family: $font-core;
  border: 0;
  width: 100%;
}

option {}
